html, body {margin: 0; height: 100%; overflow: hidden}

#text {
    position: absolute;
}

#title {
    border: 5px ridge;
    padding-right: 20%;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-top: 0;
}

img {
    position: absolute
}

#uc1 {
    left: 30%;
    top: 5%
}

#uc2 {
    left: 50%;
    top: 20%
}

#uc3 {
    left: 60%;
    top: 15%
}

#uc4 {
    padding-left: 3px;
    border: 3px solid green;
    right: -1%;
    bottom: 1%
}

#uc5 {
    border: 10px dashed black;
    width: 250px;
    left: 0.5%;
    bottom: 5%
}

#uc6 {
    width: 800px;
    height: 200px;
    left: 50%;
    bottom: -1%;
    margin-left: -400px
}

#uc_wall {
    opacity: 0.4;
    width: 100%;
    height: 100%
}