/* Extra small */
@media only screen and (min-width : 480px) {
    body{font-size: 10px;}
}

/* Small */
@media only screen and (min-width : 768px) {
    body{font-size: 14px;}
    .hidden-md-up {
        display: none;
    }
}

/* Medium */
@media only screen and (min-width : 992px) {
    body{font-size: 16px;}
}

/* Large */
@media only screen and (min-width : 1200px) {

}

#block-body {
    padding-top: 20px;
}

html, body {
    height: 100%;
}

#body-container {
    height: 100%;
}

.wrapper {
    min-height: 100%;
    margin-bottom: -40px;
    padding-bottom: 40px;
}

#navbar {
    height: 50px;
}

footer {
    height: 40px;
}

.navbar-brand {
    margin-bottom: 3px;
}

.extern {
    width: 16px;
    margin-left: -5px;
    margin-top: -15px;
}

.navbar-header {
    border-bottom: 1px solid lightgray;
}

.navbar-footer {
    border-top: 1px solid lightgray;
}

.nav-link {
    text-decoration: underline;
    text-decoration-color: lightgray;
}

footer .nav-item {
    font-size: 0.8rem;
}

button {
    cursor: pointer;
}

.dropdown-menu-right {
    right: 0;
    left: auto;
}

.navbar-toggler {
    border: 0;
}