#block-body {
    padding-top: 20px;
}

html, body {
    height: 100%;
}

#body-container {
    height: 100%;
}

.wrapper {
    min-height: 100%;
    margin-bottom: -40px;
    padding-bottom: 40px;
}

#navbar {
    height: 50px;
}

footer {
    height: 40px;
}

.navbar-brand {
    margin-bottom: 3px;
}

.extern {
    width: 16px;
    margin-left: -5px;
    margin-top: -15px;
}

.navbar-header {
    border-bottom: 1px solid black;
}

.navbar-footer {
    border-top: 1px solid black;
}

.nav-link {
    text-decoration: underline;
    text-decoration-color: lightgray;
}

footer .nav-item {
    font-size: 0.8rem;
}