<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>vsubhuman.com</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index/style.css') }}"/>
</head>
<body>
    <div id="text"><h2><font color="dark red"><u>This</u></font> site is under construction</h2></div>
    <img id="uc_wall" src="{{ url_for('static', filename='index/uc_wall.jpg') }}"/>
    <img id="uc1" src="{{ url_for('static', filename='index/uc1.gif') }}"/>
    <img id="uc6" src="{{ url_for('static', filename='index/uc6.gif') }}"/>
    <img id="uc3" src="{{ url_for('static', filename='index/uc3.gif') }}"/>
    <img id="uc2" src="{{ url_for('static', filename='index/uc2.gif') }}"/>
    <img id="uc4" src="{{ url_for('static', filename='index/uc4.gif') }}"/>
    <img id="uc5" src="{{ url_for('static', filename='index/uc5.gif') }}"/>
</body>
</html>