{% extends 'layout.html' %}
{% set title = 'Log in' %}
{% set login = session.user.login if session.logged_in else request.form.get('login', '') %}
{% set password = request.form.get('password', '') %}

{% block body %}
    <h3>{{ title }}</h3>
    {% if session.logged_in %}
        <p class="lead">You are already logged in as: <code>{{ login }}</code></p>
        <form action="" type="Submit" method="post">
            <input type="hidden" name="logout" value="true">
            <fieldset class="form-group">
                <button type="submit" class="btn btn-default">Log out</button>
            </fieldset>
        </form>
    {% else %}
        {% if redirect %}
        <p class="lead">Please, log in, to access this page:</p>
        {% endif %}
        <form action="" type="Submit" method="post">
            <fieldset class="form-group">
                <label for="login" class="col-form-label sr-only">Login</label>
                <input type="text" class="form-control col-5" id="login" name="login"
                       placeholder="Login" value="{{ login }}">
            </fieldset>
            <fieldset class="form-group">
                <label for="password" class="col-form-label sr-only">Password</label>
                <input type="password" class="form-control col-5" id="password" name="password"
                       placeholder="Password" value="{{ password }}">
            </fieldset>
            <fieldset class="form-group">
                <button type="submit" class="btn btn-default">Submit</button>
            </fieldset>
        </form>
    {% endif %}
{% endblock %}